<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SecondHand</display-name>
  <welcome-file-list>
    <welcome-file>start.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.bvrith.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bvrith.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdsController</display-name>
    <servlet-name>AdsController</servlet-name>
    <servlet-class>com.bvrith.controller.AdsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdsController</servlet-name>
    <url-pattern>/AdsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.bvrith.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.bvrith.exceptionhandler.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UpdateAdController</display-name>
    <servlet-name>UpdateAdController</servlet-name>
    <servlet-class>com.bvrith.controller.UpdateAdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdController</servlet-name>
    <url-pattern>/UpdateAdController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginCheckFilter</display-name>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>com.bvrith.filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/LoginCheckFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BuyAdController</display-name>
    <servlet-name>BuyAdController</servlet-name>
    <servlet-class>com.bvrith.controller.BuyAdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyAdController</servlet-name>
    <url-pattern>/BuyAdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterController</display-name>
    <servlet-name>FilterController</servlet-name>
    <servlet-class>com.bvrith.controller.FilterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterController</servlet-name>
    <url-pattern>/FilterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdController</display-name>
    <servlet-name>DeleteAdController</servlet-name>
    <servlet-class>com.bvrith.controller.DeleteAdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdController</servlet-name>
    <url-pattern>/DeleteAdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.bvrith.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageController</display-name>
    <servlet-name>MessageController</servlet-name>
    <servlet-class>com.bvrith.controller.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>/MessageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessageController</display-name>
    <servlet-name>DeleteMessageController</servlet-name>
    <servlet-class>com.bvrith.controller.DeleteMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessageController</servlet-name>
    <url-pattern>/DeleteMessageController</url-pattern>
  </servlet-mapping>
</web-app>